<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.laroche.app.camara"
    version         = "1.1.0">
<name>CAMARA CANVAS</name>
<description>Aplicación para el laboratorio LA R0CHE-POSAY</description>


<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/device"/>
<feature name="http://api.phonegap.com/1.0/file" />
<feature name="http://api.phonegap.com/1.0/camera" />

<preference name="orientation" value="portrait" />

<plugin name="com.phonegap.plugin.statusbar" source="pgb" spec="1.1.0" />
<plugin name="cordova-plugin-whitelist" spec="1.2.1" />
<plugin name="org.apache.cordova.core.camera" source="pgb" spec="0.3.6" />
<plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />
<plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />
<plugin name="org.apache.cordova.vibration" source="pgb" spec="0.3.13" />
<gap:plugin name="com.keith.cordova.plugin.canvascamera" />

<access origin="*" subdomains="false"  />

</widget>
