<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.laroche.app.camara"
    version         = "1.1.0">
<name>CAMARA</name>
<description>Aplicación</description>


<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/device"/>
<feature name="http://api.phonegap.com/1.0/file" />
<feature name="http://api.phonegap.com/1.0/camera" />

<preference name="orientation" value="portrait" />

<gap:plugin name="org.apache.cordova.device" />

<gap:plugin name="com.phonegap.plugin.statusbar" />

<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="org.apache.cordova.vibration" />

<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<gap:plugin name="cordova-plugin-camera-with-exif" source="npm"/>
<gap:plugin name="com.keith.cordova.plugin.canvascamera" />
<access origin="*" subdomains="false"  />

</widget>
